:root{
    --main-yellow: #FED966;
    --main-yellow-back: #FED96634;
    --main-white: #FFFFFF;
    --main-black: #000000;
    --flag-blue: #0038A8;
    --flag-red: #CE1126;
    --flag-gold: #FCD116;
}