
/* Fonts that are to be used */
@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-medium-webfont.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-light-webfont.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-bold-webfont.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('notosans-italic-webfont.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Consolas';
    src: url('consola.woff') format('woff');
}
@font-face {
    font-family: 'Consolas';
    src: url('consolab.woff') format('woff');
    font-weight: bold;
}
@font-face{
    font-family: 'Consolas';
    src: url('consolai.woff') format('woff');
    font-style: italic;
}
@font-face {
    font-family: 'Consolas';
    src: url('consolaz.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Neutraface Text';
    src: url('Neutraface-Text-Demi.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Neutraface Text';
    src: url('Neutraface-Text-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Neutraface Text';
    src: url('Neutraface-Text-Book.woff') format('woff');
}
@font-face {
    font-family: 'Neutraface Text';
    src: url('Neutraface-Text-Bold.woff') format('woff');
    font-weight: bold;
}

/* Colors/Colours used on this webpage */
:root{
    --js-yellow:#f3e31b;
    --js-black:#040404;
    --code-card:#ebebeb;
    --code-element:#0006b1;
    --code-name:#b90000;
    --code-value:#009405;
}

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    color: var(--js-black, #040404);
    font-family: "Noto Sans", sans-serif;
}
.container{
    width: 100%;
}

/* Navigation bar */
.nav-bar{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-right: 2px solid var(--js-black, #040404);
    background-color: white;
}
.nav-bar img{
    margin: 0px auto;
    width: max(50px, 7.5vw);
    display: inline-block;
    object-fit: cover;
}
.nav-card{
    width: 100%;
}
.nav-link:hover{
    background-color: var(--js-yellow, #f3e31b);
}
.nav-link:active{
    background-color: var(--js-yellow, #f3e31b)
}
.nav-link{
    padding: max(10px, 2vh);
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--js-black, #040404);
    font-weight: bold;
    font-family: "Neutraface Text", Helvetica, sans-serif;
    font-size: max(16px, 1.2vw);
}

/* Main body that contains content */
.main-body{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80%;
    float: right;
    overflow-x: hidden;
    background-color: white;
}
.info-card{
    padding: 0px 30px;
    width: 100%;
    letter-spacing: 0.8px;
}
.info-card h1,  .info-card h2, .info-card h3{
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: "Neutraface Text", Helvetica, sans-serif;
}
.info-card h3{
    font-size: max(20px, 3vw);
    font-weight: 400;
}
.info-card h2{
    font-size: max(25px, 3.8vw);
}
.info-card h1{
    margin-top: 10px;
    font-size: max(30px, 4.5vw);
}
.info-card p, .info-card ul{
    font-size: max(15px, 1.2vw);
    line-height: max(24px, 3vh);
}
.info-card li{
    margin: 18px 0px;
}
.info-card .id-link:hover::after{
    content: "#";
    text-decoration: underline 4px solid var(--js-yellow, #f3e31b);
    color: #afafaf;
}
.info-card .id-link:hover{
    text-decoration: underline 4px solid var(--js-yellow, #f3e31b);
}
.info-card .id-link:active{
    text-decoration: underline 4px solid var(--js-yellow, #f3e31b);
}
.info-card .id-link{
    color: #040404;
    text-decoration: none;
}
.info-card .highlight{
    padding: 2px 5px;
    background-color: var(--js-yellow, #f3e31b);
}
.info-card .code{
    padding: 2px 5px;
    border-radius: 5px;
    background-color: var(--code-card, #ebebeb);
    font-family: "Consolas", monospace;
}
.info-card .code-card{
    padding: 8px 25px;
    border-left: 5px solid var(--js-yellow, #f3e31b);
    border-radius: 5px;
    background-color: var(--code-card, #ebebeb);
}
.code-card p{
    letter-spacing: 0.5px;
    font-family: "Consolas", monospace;
}
.code-card .green{
    color: var(--code-value, #009405);
}
.code-card .red{
    color: var(--code-name, #b90000);
}
.code-card .blue{
    color: var(--code-element, #0006b1);
}
.web-link:hover{
    text-decoration: none;
    color: var(--code-element, #0006b1);
}
.web-link:active{
    color: var(--code-element, #0006b1);
}


@media (max-height: 450px), (orientation:portrait){
    .nav-bar{
        width: 100%;
        height: 100px;
        flex-direction: row;
        flex-wrap: nowrap;
        bottom: unset;
        left: unset;
        border-right: unset;
        border-bottom: 2px solid var(--js-black, #040404);
    }
    .nav-card{
        height: 100%;
        overflow-y: scroll;
    }
    .nav-bar img{
        margin: auto max(25px, 7vw);
    }
    .nav-link{
        margin: 0;
        padding-top: max(35px, 2.2vh);
        width: 125px;
        height: 100%;
        display: inline-block;
    }

    .main-body{
        margin-top: 120px;
        width: 100%;
        float: unset;
    }

}