body{ 
    margin: 0px;    
    background: linear-gradient(90deg, #f4cc28 50%, #040494 50.1% 100%); 
    font-family: "Roboto Serif","Times New Roman", serif;
    font-size: 11.5px;
}

/* Parent div that holds ALL elements. */

.container{ 
    margin: 45px auto;
    padding: 10px;
    width: 260px;
    background: white;
}

/* Child div that holds elements for the header. */

.header{
    width: 100%;
    text-align: center;
}
#header-logo:hover{
    opacity: 85%;
}
#header-logo{
    width: 40px;
    vertical-align: -25%;
    display: inline-block;
}
#title{
    margin-left: 5px;
    display: inline-block;
    color: #111111;
    font-size: 16px;
}

/* Child form that holds elements for the survey. */

#survey-form{
    width: 100%;
    text-align: center;
}
label{
    margin: 8.5px 0px;
    display: inline-block;
}
fieldset{
    border: none;
}
hr{
    width: 250px;
    height: 2px;
    background: linear-gradient(160deg, #f4cc28 50%, #040494 50.1% 100%);
    border: none;
}

/* First fieldset that holds demographic related inputs */

input:invalid{ 
    background-color: rgb(128,0,0,0.09);
    border-bottom: 1.99px solid rgb(128,0,0);
}
input:focus{
    background-color: #f4cc2821;
    border-bottom: 1.99px solid #040494;
}
input{
    margin: 0px 2px;
    padding: 2px 3px;
    height: 15px;
    vertical-align: middle;
    outline: none;
    border: none;
    border-bottom: 1.99px solid #cccccc;
    font-family: "Roboto Serif","Times New Roman", serif;
    font-size: 11.5px;
}
input[type= "text"]{
    width: 145px;
}
input[name= "birthdate"]{
    width: 95px;
}
input[inputmode= "number"]{
    width: 20px;
}
input[type= "email"]{
    width: 178px;
}

/* Second fieldset that holds users desired grade level */

input[name= "contact-number"]{
    width: 126px;
}

.field__label--margin{
    margin: 8.5px 8px;
}
input[type= "radio"]:hover{
    cursor:pointer;
}
input[type= "radio"]:focus{
    outline: 2px solid #111111;
}
input[type= "radio"]{
    margin: 0px 3px;
    accent-color: #040494;
    vertical-align: -20%;
}
select:invalid{
    background-color: rgb(128,0,0,0.09);
    border-bottom: 1.99px solid rgb(128,0,0);
}
select:focus{
    background-color: #f4cc2821;
    border-bottom: 1.99px solid #040494;
}
select{
    margin: 8.5px 0px;
    width: 175px;
    height: 22px;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 1.99px solid #cccccc;
    font-family: "Roboto Serif", 'Times New Roman', serif;
    font-size: 11.5px;
}

/* Third fieldset that holds the authorization of collecting confidential data */

textarea:focus{
    background-color: #f4cc2821;
    border: 1.99px solid #040494;
}
textarea{
    padding: 10px 10px;
    min-width: 200px;
    min-height: 65px;
    resize: vertical;
    text-align: justify;
    outline: none;
    border: 1.99px solid #cccccc;
    font-family: "Roboto Serif", 'Times New Roman', serif;
    font-size: 11.5px;
}
.field__label--text-align{
    margin: 8.5px 7px;
    text-align: justify;
}
input[type= "checkbox"]:hover{
    cursor: pointer;
}
input[type= "checkbox"]:focus{
    outline: 2px solid #111111;
}
input[type= "checkbox"]{
    margin: 0px 3px;
    accent-color: #040494;
    vertical-align: -20%;
}

/* Button to submit data */

button[type= "submit"]:hover{
    cursor: pointer;
    background: linear-gradient(160deg, #f4cc2855 50%, #04049455 50.2% 100%);
}
button[type= "submit"]:active{
    cursor: pointer;
    background: linear-gradient(160deg, #f4cc2855 50%, #04049455 50.2% 100%);
}
button[type= "submit"]{
    margin: 8.5px auto;
    width: 120px;
    height: 25px;
    vertical-align: center;
    border-radius: 3%;
    border: none;
    background-color: #cccccc;
    font-family: "Roboto Serif", 'Times New Roman', serif;
    font-size: 13px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    
}


