/* Colors: 
#deb26f - Side Background
#f2d6a4 - Main Background
*/

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background: linear-gradient(90deg, #deb26f 5%, #f2d6a4 25% 75%, #deb26f 95% 100%);
    color: #2e2d26;
}
.section{ 
    width: max(65%, 260px); 
    margin: 0px auto;
    border: 1px solid black;
}
.img{
    min-width: 125px;
    max-width: 200px;
    object-fit: cover;
}
.hr{
    width: max(65%, 260px);
    height: max(3px, 1.5px);
    border: none;
    background-color: #2e2d26;
}
.h1, .h2{
    margin: 0px;
    font-family: "IM FELL English SC", Times, serif;
    font-weight: 400;
}
.p{
    margin: 0px;
    font-family: "Average", Verdana, sans-serif;
}

/* Main header... */
.section--header{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.section__div-mtitle{
    margin: 25px;
    text-align: center;
}
.section__img-mptrt{
    box-shadow: 0px 0px 5px #2e2d26;
}
.h1--mname{
    font-size: min(45px, 6.5vw);
}
.hr--muline{
    width: min(450px, 60vw);
    height: min(3px, 5px);
    margin-top: 0px;
}
.h2--mdate{
    font-size: min(20px, 3.5vw);
    font-family: "Average", Times, serif;
}
