@font-face {
    font-family: arial;
    src: url("../fonts/arial.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Arial;
    src: url("../fonts/arialbd.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Arial;
    src: url("../fonts/ariali.ttf") format("ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Arial;
    src: url("../fonts/arialbi.ttf") format("ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Arial;
    src: url("../fonts/ariblk.ttf") format("ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ARIALN.TTF") format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ARIALNB.TTF") format("ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ARIALNI.TTF") format("ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Arial Narrow";
    src: url("../fonts/ARIALNBI.TTF") format("ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Helvetica;
    src: url("../fonts/helvetica-light-587ebe5a59211.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica-CondensedBlack";
    src: url("../fonts/HelveticaCdBdObl.ttf") format("ttf");
    font-weight: bold;
    font-style: oblique;
}
@font-face {
    font-family: "Helvetica-CondensedBlack";
    src: url("../fonts/HelveticaCdBlk.ttf") format("ttf");
    font-weight: 800;
    font-style: normal;
}