@import url("https://github.com/NyeverGator/web-design-fCC/tree/main/landing-page/fonts");

:root{
    --main-yellow: #ffff01;
    --main-orange: #f58220;
    --main-black: #010004;
    --main-white: #ffffff;
}

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body, p, h1, h2, ul, hr{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}


.container{
    width: 100%;
}
