html{
    font-size: 10px;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 100%;
}

body{
    font-family: 'Rubik', Helvetica, sans-serif;
}
header, main, footer{
    width: 100%;
}
