html{
    font-size: 10px;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', Helvetica, sans-serif;
}
header, main, footer{
    width: 100%;
    border: 1px solid black;
}


.container{
    max-width: 102.8rem;
    padding: min(5vw, 3rem) min(5vw, 8rem);
    margin: 0 auto;
}

/* Header with navigation bar */
header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
}
.nav-card{
    margin: 0px auto;
    max-width: 52.8rem;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}
.nav-card > li{
    list-style: none;
}
.nav-card > li::before{
    width: 100%;
    height: 0.3rem;
    margin: auto;
    display: block;
    position: relative;
    top: 82%;
    content: "";
    background-color: var(--main-yellow);
    border-radius: 1rem;
    transform: scale(0);
    transform-origin: bottom;
    transition: 250ms ease-in-out;
}
.nav-card > li:hover::before{
    transform: scale(1);
    transform-origin: top;
}
.nav-card > li:active::before{
    transform: scale(1);
    transform-origin: top;
}
.nav-link{
    height: 8rem;
    display: grid;
    place-content: center;
    color: var(--main-black);
    text-decoration: none;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 600;
}
