html{
    font-size: 10px;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', Helvetica, sans-serif;
}
header, main, footer{
    width: 100%;
    border: 1px solid black;
}


.container{
    max-width: 102.8rem;
    padding: min(5vw, 3rem) min(5vw, 8rem);
    margin: 0 auto;
}

/* Header with navigation bar */
.nav-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.nav-card > li{
    list-style: none;
}
.nav-link{
    height: 8rem;
    display: grid;
    place-content: center;
    color: var(--main-black);
    text-decoration: none;
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-weight: 600;
    border: 1px solid black;
}
